/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*  */
body {
    background-color: lightgrey;
    font-size: 0;
}

nav {
    background-color:rgb(255, 115, 0);
    margin-bottom: 40px;>
}
nav ul{
    width: 800px;
    margin: auto;
}
nav ul li{
    display:inline-block;
}
nav ul li a{
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    color:white;
    border-right: 2px solid grey;
    font-size: 16px;
}

body>div {
    display:block;
    width: 800px;
    margin: 15px auto;
    padding: 15px;
    box-sizing:border-box;
    background-color: white;

}
div h6 {
    font-size:20px;
    font-weight: bold;
}
div p {
    margin-top: 15px;
    font-size:16px;
}

div:nth-of-type(2) div{
    display:inline-block;
    box-sizing:border-box;
    width: 50%;
    padding: 15px;
}
div:nth-of-type(2) {
    padding: 0;
}