/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  position: relative;
  height: 100vh;
  width: 100vw;
  font-size: 14px; }

#map {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
  /* Set z-index to 0 as it will be on a layer below the contact form */ }

#search {
  display: flex;
  position: absolute;
  z-index: 1;
  /* The z-index should be higher than Google Maps */
  top: 8px;
  left: 8px;
  width: 300px;
  background: black;
  background-color: white;
  border-radius: 3px;
  box-shadow: 1px 1px 3px grey; }
  #search button#navbutton {
    padding: .4em .7em .5em .7em;
    background-color: white;
    font-size: 1.5em;
    border: none;
    border-radius: 3px; }
  #search input[type="text"] {
    margin: 10px;
    border: none;
    font-size: 1.2em; }
  #search input[type="text"]:focus {
    outline: none; }
  #search input::placeholder {
    color: lightgrey;
    font-size: 1em; }
  #search button#icon {
    background: #ffffff url("../images/searchicon.png") no-repeat;
    width: 24px;
    height: 24px;
    background-size: 72px 24px;
    margin: auto;
    border: none; }

nav {
  display: none;
  position: absolute;
  z-index: 2;
  background-color: white;
  width: 300px;
  height: 100%;
  border-right: 1px solid lightgrey; }
  nav > img {
    display: block;
    margin: 0 auto;
    width: 150px; }
  nav div button#navclose {
    position: absolute;
    top: 10px;
    right: 20px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: inherit; }
  nav ul {
    border-top: 1px solid lightgrey; }
    nav ul li button {
      display: block;
      width: 85%;
      margin: 0 auto;
      border: none;
      background-color: inherit;
      font-size: 1.2em;
      text-align: left;
      padding: 5px;
      font-weight: bold;
      color: black; }
    nav ul li button:hover {
      color: grey;
      padding-left: 15px; }
