/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*  */

body {
    background-image: url("background.jpg");
    background-size: cover;
    font-size: 0;
}
main {
    margin: 100px auto;
    width: 900px;
    border-radius: 8px;
    background-color:rgba(255, 255, 255, 0.85);
}
div {
    display: inline-block;
    width: 42%;
    margin: 20px 4%;
    box-sizing:border-box;
    background-color: lightblue;
    border-radius: 5px;
    padding: 10px;
}
div:nth-of-type(2){
    background-color: lightpink;
}
h1 {
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: bold;
}
p {
    font-size: 16px;
}