* {
    margin: 0;
    padding: 0;
}
body {
    padding: 10px;
    background-color:rgb(247, 243, 243);
}
h1 {
    letter-spacing:-1px;
}
p {
    margin: 15px 0;
}

ul {
    margin-left: 70px;
    list-style: none;
}
ul li>span {
    border-radius: 100%;
    background-color: lightgreen;
    color: white;
    border: 1px solid black;
    margin-right: 10px;
}

table {
    width:700px;
    margin: 40px 0 20px 0;
    border-collapse: collapse;
}
table, tr, th, td{
    border: solid 1px grey;
}
td:first-child {
    width: 230px;
}
table tr:first-child {
    color: white;
    border-bottom: 3px solid darkblue;
    background-color: lightblue;
    line-height:20px;
}
table th:first-child, th:last-child {
    border-radius: 10px;
}
table tr td {
    padding: 0 10px;
    background-color: rgb(200, 240, 252);
}
table tr:nth-child(odd) td{
    background-color: rgba(200, 240, 252, 0.6);
}

form {
    width:380px;
}
form fieldset {
    padding: 10px;
    position: relative;
    background-color: white;
}
form fieldset legend {
    font-style:italic;
}
form fieldset input[type=text],
form fieldset input[type=email],
form fieldset span,
form fieldset select {
    position: absolute;
    left: 180px;
}
form fieldset>div{
    display:block;
    margin: 2px 0;
}
form fieldset>div:nth-of-type(3){
    margin: 10px 0;
}
form fieldset select{
    border-radius: 5px;
    width: 100px;
}
form input[type="submit"] {
    position: absolute;
    left: 300px;
    margin-top: 5px;
    padding: 5px;
    border-radius: 20px;
    background-color:green;
    color:white;
    font-size: 12px;
}