/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*  */

body {
    background: url("background.jpg");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    font-family: Arial;
    height: 600px;
}

main {
    width: 800px;
    margin: 80px auto;
    display:flex;
    justify-content: space-around;
}

main div:first-child{
    padding:10px;
    flex-basis: 60%;
}

main div:first-child h1{
    font-size: 34px;
    font-weight: bold;
    color:white;
    width: 80%;
    margin: 30px 0 20px 0;
}

main div:first-child p{
    font-size: 14px;
    color:grey;
}
main div:last-child form>*{
    display:block;
    width: 250px;
    box-sizing:border-box;
    padding: 13px 10px;
    margin: 10px;
    border-radius: 3px;
    border:none;
}
main div:last-child form input[type="submit"]{
    background-color: orange;
    color:white; 
}
main div:last-child form textarea{
    height: 100px;
}
main div:last-child label{
    padding: 5px;
    color: grey;
    font-size: 14px;
}