/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html {
    font-size: 14px;
}
/*  */
@font-face {
    font-family: Montserrat-Bold;
    src: url(fonts/Montserrat-Bold.otf);
}
@font-face {
    font-family: Montserrat-Regular;
    src: url(fonts/Montserrat-Regular.otf);
}
@font-face {
    font-family: KaushanScript-Regular;
    src: url(fonts/KaushanScript-Regular.otf);
}
@font-face {
    font-family: Roboto-Regular;
    src: url(fonts/Roboto-Regular.ttf);
}
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}
.relative {
    display:relative;
}
/* HEADER */
header{
    min-height: 100vh;
    background: #ffffff url("images/bg.png");
    background-size: cover;
    background-position:center;
    color: white;
}
nav {
    padding: 20px 0;
}
nav div.logo{
    display:inline-block;
    font-family: Montserrat-Bold, Arial, Helvetica, sans-serif;
    font-size: 2em;
}
nav ul{
    display:inline-block;
    font-family: Montserrat-Regular, Arial, Helvetica, sans-serif;
    float: right;
}
nav ul li{
    display:inline-block;
    margin-left: 3em;
}
nav ul li a{
    text-decoration: none;
    font-size: 1em;
    padding: 10px 0;
    color: inherit;
}
nav ul li a img{
    height: 1em;
}
nav ul li a:hover {
    border-bottom: 2px solid #fce38a;
    color: #fce38a;
}
header h2 {
    margin-top: 5%;
    text-align: center;
    font-size: 4em;
    font-family: KaushanScript-Regular;
}
header h1 {
    max-width: 50%;
    margin: 30px auto;
    font-size: 6em;
    font-family: Montserrat-Bold;
    text-align: center;
}
header div.whiteline{
    width: 50px;
    border: 1px solid white;
    margin: 20px auto;
}
header button{
    display:block;
    font-family: Montserrat-Bold;
    padding: 8px 15px;
    border: 2px solid white;
    background-color: Transparent;
    margin: 0 auto;
    color: inherit;
}
header div>ul{
    position: absolute;
    bottom: 10px;
    max-width: 1200px;
    left: 0;
    right: 0;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
}
header div>ul li{
    width: 20%;
    border-top: 2px solid white;
    padding: 15px 0;
    font-family: Montserrat-Regular;
    font-size: 1em;
    box-sizing: border-box;
}
header div>ul li span{
    font-family: Montserrat-Bold;
    font-size: 1.5em;
    margin-right: 5px;
}
/* MAIN */
main {

}
main div.redline{
    width: 50px;
    border: 1px solid #f38181;
    background-color: #f38181;
    margin: 20px auto;
}
main section>h6 {
    font-family: KaushanScript-Regular;
    text-align: center;
    font-size: 2em;
    margin-bottom: 15px;
}
main section>h5 {
    font-family: Montserrat-Bold;
    text-align: center;
    font-size: 2em;
}
main section>p {
    font-family: Roboto-Regular;
    color: #999999;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.5em;
}
main section .images{
    display:flex;
    justify-content: space-between;
    margin-top: 50px;
}
main section{
    padding: 100px 0;
}
main section:nth-of-type(2){
    background-color:#95e1d3;
    padding: 0;
}

/* FACTS */

main section .facts{
    display:flex;
}
main section .facts .item{
    flex-basis: 20%;
    border-right:1px lightgrey solid;
    border-left:1px lightgrey solid;
    padding: 80px 0;
}
main section .facts .item span.numb{
    display:block;
    text-align: center;
    font-size: 4em;
    font-family: Montserrat-Bold;
    color: white;
    margin-bottom: 15px;
}
main section .facts .item span.text{
    display:block;
    text-align: center;
    font-size: 1em;
    font-family: Montserrat-Regular;
    color: white;
}

main section .facts{
    display: flex;
    justify-content: space-around;
}
main section .facts .items{
    flex-basis: 30%;
}
/* SERVICES */
main section .services{
    display:flex;
    justify-content: space-around;
}
main section .services:nth-of-type(2){
    border-bottom: 1px solid lightgrey;
}

main section .services .item{
    flex-basis: 28%;
    display:flex;
    padding: 30px;
}
main section .services .item img{
    height: 30px;
}
main section .services .item content{
    padding-left: 20px;
    box-sizing: border-box;
}
/* DEVICES */

main section.devices {
    background: #ffffff url("images/bg2.png");
    background-size: cover;
    background-position:center;
    position: relative;
    padding-bottom: 0px;
}
main section.devices img[src="images/ipad.png"]{
    display:block;
    margin: 0 auto;
    position: relative;
}
main section.devices img[src="images/iphone.png"]{
    position: absolute;
    bottom: -90px;
    right: 20%;
    z-index: 1;
}
main section div.container {
    display:flex;
    justify-content: space-between;
}
main section .container .item {
    flex-basis: 50%;
}
main section .container>img {
    width: 48%;
}
main section .container .item button{
    width: 100%;
    background-color: white;
    border: 1px solid lightgrey;
    vertical-align: middle;
    padding: 10px;
    text-align: left;
    font-family: Montserrat-Regular;
    margin-top: 10px;
}
main section .container .item button:first-child{
    margin-top: 0;
}

main section .container .item div.text{
    border: 1px solid lightgrey;
    padding: 10px;
    color: lightgrey;
    font-style: italic;
    overflow-y: scroll;
}
main section .container .item button img:first-child{
    margin-right: 10px;vertical-align: middle;
}
main section .container .item button img:last-child{
    float: right;
    padding: 10px;
}
/*  */
main section.quote {
    background-color: #f8f8f8;
    padding: 60px 0;
}

main section.quote .container {
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
}

main section.quote .container .items:nth-of-type(2) {
    margin: 0 5%;
}

main section.quote .container .items:nth-of-type(3) {
    margin-right: 5%;
    font-style: italic;
    color: grey;
    line-height: 25px;
    font-size: 16px;
}

main section.team .container {
    display: flex;
}

main section.team .container .items{
    margin-top: 40px;
}
main section.team .container .items h6{
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    margin: 20px;
    text-align: center;
}

main section.team .container .items p{
    font-family: Arial;
    font-size: 14px;
    font-style: italic;
    color: grey;
    text-align: center;
}

main section.hipster {
    background-color: #f8f8f8;
    padding: 35px 0;
}

main section.hipster img{
    width: 100%;
}

main section.work {
    padding-bottom: 0px;
}
main section.work .container {
    display: flex;
    margin-top: 50px;
}
main section.work .container .column{
    display: flex;
    flex-direction: column;
}
main section.work .container .column img{
    width: 100%;
}
main section.quote:last-child {
    background-color: white;
}
main section.clients {
    background-image: url("images/bg2.png");
    background-size: cover;
}

main section.clients .container {
    display:flex;
    flex-wrap: wrap;
}

main section.clients .container .items {
    display:flex;
    flex-basis: 50%;
    padding: 40px;
    box-sizing: border-box;
}
main section.clients .container .items img{
    height: 110px;
}

main section.clients .container .items .content {
    padding-left: 20px;
}
main section.clients .container .items .content h5{
    font-weight: bold;
    font-family: Arial;
}

main section.clients .container .items .content h6{
    font-style: italic;
    font-family: Arial;
    font-size: 12px;
    margin-top: 1em;
    color: grey;
}
main section.clients .container .items .content p{
    font-family: Arial;
    color: grey;
}


main section.clients .container .items .redline{
    margin: 15px 0;
}

/*  */
main section.blog .container {
    display: flex;
    font-family: Arial;
}

main section.blog .container .items {
    flex-basis: 30%;
}

main section.blog .container .items .image {
    position: relative;
}

main section.blog .container .items .image .date{
    position: absolute;
    color: white;
    background-color: #95e1d3;
    bottom: 5%;
    left: -2%;
    text-align: center;
    padding: 10px;
    font-style: italic;
}

main section.blog .container .items .image .date span.day{
    display:block;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
}

main section.blog .container .items h6 {
    font-weight: bold;
    line-height: 50px;
    font-size: 14px;
}
main section.blog .container .items p {
    line-height: 20px;
    color: grey;
    margin-bottom: 20px;
}

main section.blog .container .items .footer {
    border-top: 1px solid grey;
    padding-top: 10px;
}
main section.blog .container .items .footer span{
    color: grey;
    padding-right: 10px;
    vertical-align: middle;
}
main section.blog .container .items .footer img{
    vertical-align: middle;
}

main section.blog .container .items .footer span:first-child{
    margin-right: 20px;
}
/*  */

main section.map {
    background-image: url("images/mapbg.png");
    text-align: center;
    padding: 50px 0;
}

main section.map a{
    display:block;
    text-decoration: none;
    color: #f38181;
    font-size: 18px;
    margin-top: 15px;
    font-family: Montserrat-Bold;
}

/*  */

footer {
    background-color: #f8f8f8;
}

footer>div:first-child {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
}

footer div .items{
    flex-basis: 30%;
    
}

footer div .items h1 {
    font-size: 30px;
    color: grey;
    font-family: Montserrat-Bold;
}

footer div .items>p {
    color: grey;
    line-height: 1.5em;
    padding: 20px 0;
}
footer div .items .followers span{
    font-weight: bold;
    font-family: Montserrat-Bold;
}

footer div .items .follow{
    font-family: Arial;
    font-style: italic;
    padding: 15px 0;
    border-top: 1px solid grey;
    color: grey;
    margin-top: 15px;
    vertical-align: middle;
}

footer div .items .follow img {
    vertical-align: middle;
    margin: 0 5px;
}

footer div .items .follow a:first-child {
    margin-left: 20px;
}

footer div .items form{
    font-size: 0;
    margin-top: 20px;
}

footer div .items form input[type="email"]{
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid lightgrey;
}

footer div .items form input[type="submit"]{
    padding: 11px 25px;
    background-color: #95e1d3;
    border: none;
    box-sizing: border-box;
    color: white;
}
footer div .items form input[placeholder]{
    font-style: italic;
    color: lightgrey;
}
footer div .items .content {
    display:flex;
    margin: 10px 0;
}

footer div .items h2{
    font-family: Montserrat-Regular;
}
footer div .items .content .text{
    margin: 15px;
    font-family: Montserrat-Regular;
}

footer div .items .content .text p{
    margin-top: 10px;
    color: grey;
    font-style: italic;
    font-family: Montserrat-Regular;
}

footer div .items .images {
    margin-top: 10px;
}
footer .footer {
    border-top: 1px solid grey;
    text-align: center;
    font-family: Montserrat-Regular;
    padding: 30px;
}
footer .footer span {
    color: #f49f9f;
    display: inline;
}