/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*  */

body {
    font-size:0;
    font-family: arial;
    background-color: lightgray;
}
main {
    width: 70%;
    margin: 50px auto;
}
div {
    display: inline-block;
    width: 48%;
    border: 1px solid red;
    background-color: white;
    border: 2px darkgray solid;
    border-radius: 5px;
    padding: 25px 0;
    margin: 0 1%;
    box-sizing:border-box;
}
div:last-child h1 {
    color: orange;
}
div:last-child button {
    background-color: orange;
}
h1 {
    font-size: 40px;
    color: lightseagreen;
    text-align: center;
}
p {
    color: grey;
    font-size: 16px;
    text-align: center;
    margin: 15px 0 35px 0;
    font-weight: bold;
}
span {
    font-size: 14px;
    display:block;
    text-align: center;
    color: lightgrey;
    margin: 25px 0;
}
button {
    display:block;
    margin: 0 auto;
    padding: 10px 15px;
    background-color: lightseagreen;
    border-radius: 3px;
    border: none;
    color: white;
}