@import 'reset';
body {
    position: relative;
    height: 100vh;
    width: 100vw;
    font-size: 14px;
}
#map { 
    height: 100%; 
    width: 100%; 
    position: absolute;
    top: 0; 
    right: 0; 
    z-index: 0; /* Set z-index to 0 as it will be on a layer below the contact form */
  }
  
#search { 
    display:flex;
    position: absolute;
    z-index: 1; /* The z-index should be higher than Google Maps */
    top: 8px;
    left: 8px;
    width: 300px;
    background: black;
    background-color: white;
    border-radius: 3px;
    box-shadow: 1px 1px 3px grey;
    button#navbutton{
        padding: .4em .7em .5em .7em;
        background-color: white;
        font-size: 1.5em;
        border: none;
        border-radius: 3px;
    }
    input[type="text"]{
        margin: 10px;
        border: none;
        font-size: 1.2em;
    }
    input[type="text"]:focus{
        outline: none;
    }
    input::placeholder{
        color: lightgrey;
        font-size: 1em;
    }
    button#icon{
        background: #ffffff url("../images/searchicon.png") no-repeat;
        width: 24px;
        height: 24px;
        background-size: 72px 24px;
        margin: auto;
        border: none;
    }
}
nav {
    display:none;
    position: absolute;
    z-index: 2;
    background-color: white;
    width: 300px;
    height: 100%;
    border-right: 1px solid lightgrey;
    
    >img{
        display:block;
        margin: 0 auto;
        width: 150px
    }
    div {
        button#navclose{
            position: absolute;
            top: 10px;
            right: 20px;
            padding: 10px;
            border: 1px solid black;
            border-radius: 5px;
            background-color: inherit;
        }
    }
    ul{
        border-top: 1px solid lightgrey;
        li{
            button{
                display:block;
                width: 85%;
                margin: 0 auto;
                border:none;
                background-color: inherit;
                font-size: 1.2em;
                text-align: left;
                padding: 5px;
                font-weight: bold;
                color: black;
            }
            button:hover {
                color: grey;
                padding-left: 15px;
            }
        }
    }
}
