/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*  */

main>div{
    width: 800px;
    margin: 20px auto;
    display:flex;
}
main div>div{
    flex-basis: 25%;
    padding: 20px;
    box-sizing:border-box;
}
main .firstrow img{
    width: 40px;
    height: 40px;
}
h1 {
    margin: 10px 0;
    font-size: 18px;
    font-weight: bold;
}
p {
    color:grey;
    font-size: 14px;
}
main .secondrow img{
    width: 80px;
    height: 80px;
    display:block;
    margin: 0 auto;
}
main .secondrow h1, .secondrow p{
    text-align:center;
}