/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*  */
body {
    background-image: url("bg.jpg");
    background-size: cover;
    font-family: arial;
    font-size:0;
}
main {
    width: 41%;
    margin: 100px auto 50px auto;
}
h1{
    font-size: 34px;
    font-weight: bold;
    color: white;
    text-align: center;
}
p{
    font-size: 16px;
    color: lightgray;
    text-align: center;
    margin: 25px 0;
}
form {
    width: 400px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 4px;
    
}
input[type="email"]{
    box-sizing:border-box;
    border: none;
    border-radius: 3px;
    margin-right: 2%;
    padding: 10px;
    width: 58%;
}
input[type="submit"]{
    background-color: lightblue;
    border: none;
    border-radius: 3px;
    padding: 10px;
    color: white;
    box-sizing:border-box;
    width: 40%;
}
label{
    display:block;
    color: white;
    font-size: 12px;
    margin: 20px auto;
    text-align:center;
}