html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**********/
body {
    font-size:0;
    font-family: arial;
}

main {
    display:flex;
}
main>img {
    width: 50%;
    height: 100vh;
}
div {
    width: 50%;
    padding: 20px;
}
div>img {
    width: 50px;
}
h1 {
    font-size: 28px;
    font-weight: bold;
    width: 50%;
    margin: 10px 0;
}
p {
    font-size: 14px;
    color: grey;
    margin-bottom: 20px;
}
input {
    display:block;
    padding: 10px 5px;
    width: 300px;
    border: lightgray 1px solid;
    border-radius: 3px;
    margin: 10px 0;
    font-weight: bold;
    font-size: 12px;
}
input[type="submit"]{
    background-color: lightgreen;
    color: white;
    width: 312px;
    border:none;
    box-shadow: 0px 2px rgb(49, 153, 49);
}
span {
    font-size:12px;
    color: grey;
}