body{
    margin:0;
    padding:0;
    background-image: url("../images/bg2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

h1{
    text-align: center;
    color: white;
    font-size: 4rem;
    text-shadow: 1px 1px 1px black;
}

p {
    color: white;
    text-align: center;
    font-size: 1.8rem;
    text-shadow: 1px 1px 1px black;
}

span {
    display: block;
    text-align: center;
    color: darkred;
}