/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.wrapper {
  max-width: 1080px;
  margin: 0 auto; }

body {
  font-family: 'Oswald', sans-serif; }

header {
  background-image: url("../images/headerbg.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  min-height: 500px;
  position: relative; }
  header nav {
    position: fixed;
    width: 100%;
    z-index: 1;
    padding: 1em 0;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.8);
    height: 4.5em;
    overflow: hidden; }
    header nav div.wrapper {
      max-width: 1080px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      header nav div.wrapper a img {
        height: 30px; }
      header nav div.wrapper a.icon {
        visibility: hidden;
        text-decoration: none;
        color: white; }
      header nav div.wrapper ul {
        display: flex; }
        header nav div.wrapper ul li {
          padding: 10px; }
          header nav div.wrapper ul li a {
            text-decoration: none;
            color: white;
            font-family: 'Oswald', sans-serif;
            font-size: 1em; }
          header nav div.wrapper ul li a:hover {
            color: #ab3f1b;
            border-bottom: 1px solid red; }
        header nav div.wrapper ul li.icon {
          display: hide; }
  header .ms-header {
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    padding-top: 30vh;
    min-width: 100%; }
    header .ms-header .ms-slider {
      display: inline-block;
      height: 1.5em;
      overflow: hidden;
      font-size: 3em;
      font-weight: bold;
      color: white;
      text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
      margin-bottom: 20px; }
      header .ms-header .ms-slider__words {
        display: inline-block;
        animation-name: wordSlider;
        animation-timing-function: ease-out;
        animation-iteration-count: infinite;
        animation-duration: 7s; }
      header .ms-header .ms-slider__word {
        display: block;
        line-height: 1em;
        font-size: 1.8em;
        text-align: center;
        font-family: 'Bahiana', cursive; }
    header .ms-header h6 {
      padding-top: 1em;
      color: white;
      font-family: Oswald,sans-serif;
      letter-spacing: 4px; }
    header .ms-header .star {
      padding: 20px 0;
      width: 200px;
      margin: 0 auto; }
      header .ms-header .star_line {
        width: 40%;
        border-bottom: 1px solid white;
        display: inline-block;
        vertical-align: middle; }
      header .ms-header .star > span {
        color: white;
        padding: 0 5px; }
    header .ms-header button {
      background: none;
      border: 1px solid white;
      padding: 10px 20px;
      margin: 10px 0;
      color: white;
      font-family: Oswald,sans-serif;
      letter-spacing: 1px;
      text-shadow: 1px 1px 1px black; }
    header .ms-header button:hover {
      cursor: pointer;
      animation-name: button;
      animation-duration: 0.8s;
      animation-iteration-count: 2; }

main section.about {
  padding: 75px 10px 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  main section.about div {
    flex-basis: 45%;
    text-align: center; }
    main section.about div h1 {
      font-size: 3em;
      margin: 20px 0; }
    main section.about div p {
      color: #111;
      font-family: arial;
      line-height: 1.4em; }
  main section.about div.slider img {
    width: 100%; }

main section.menu {
  padding: 70px 5px 0 5px;
  box-sizing: border-box; }
  main section.menu h1 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 5px;
    font-size: 3em;
    margin-bottom: 20px; }
  main section.menu h2 {
    font-family: sans-serif;
    color: #111;
    text-align: center;
    max-width: 700px;
    padding: 0 10px;
    margin: 0 auto;
    line-height: 1.5em; }
  main section.menu button.book {
    border: 1px solid black;
    padding: 10px 20px;
    color: black;
    font-family: Oswald,sans-serif;
    background: none;
    display: block;
    margin: 0 auto; }
  main section.menu button.book:hover {
    cursor: pointer;
    border-color: #ab3f1b; }
  main section.menu .menu-cont {
    display: flex;
    justify-content: space-between; }
    main section.menu .menu-cont .menu-item {
      padding: 15px;
      margin-bottom: 15px;
      box-sizing: border-box;
      flex-basis: 32%;
      border: 1px dashed black; }
      main section.menu .menu-cont .menu-item h1 {
        font-size: 2em; }
      main section.menu .menu-cont .menu-item div.food {
        display: flex;
        justify-content: space-between; }
        main section.menu .menu-cont .menu-item div.food h3 {
          letter-spacing: 3px;
          font-size: 1.1em; }
        main section.menu .menu-cont .menu-item div.food span {
          color: grey;
          font-size: .8em; }
      main section.menu .menu-cont .menu-item p {
        color: grey;
        font-family: sans-serif;
        font-size: 1em;
        padding: 1em 0 2em 0;
        line-height: 1.2em; }

main section.gallery {
  max-width: 800px;
  padding-top: 70px;
  padding-bottom: 10px; }
  main section.gallery h1 {
    font-size: 3em;
    text-align: center;
    margin-bottom: 20px; }
  main section.gallery h2 {
    font-size: 2em;
    border-top: 1px solid #111;
    border-bottom: 1px solid #111;
    padding: 10px;
    display: block;
    max-width: 450px;
    text-align: center;
    margin: 0 auto 20px auto; }

main section.reservation {
  padding-top: 80px; }
  main section.reservation h1 {
    font-size: 3em;
    text-align: center;
    margin-bottom: 20px; }
  main section.reservation h2 {
    font-size: 1em;
    text-align: center; }
  main section.reservation .form-cont {
    background-image: url("../images/slider5.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    margin: 0 auto;
    padding: 100px 0; }
    main section.reservation .form-cont form {
      max-width: 300px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      flex-direction: column; }
      main section.reservation .form-cont form input, main section.reservation .form-cont form select {
        padding: 10px;
        border-radius: 5px;
        border: none;
        margin: 5px 5px;
        box-shadow: 1px 1px 5px black;
        text-align: center;
        color: grey;
        text-align-last: center;
        background-color: rgba(255, 255, 255, 0.9); }
      main section.reservation .form-cont form input[type="submit"] {
        border-radius: 0;
        color: white;
        background-color: rgba(0, 0, 0, 0.8); }

main section.contact {
  padding: 70px 0 20px 0; }
  main section.contact h1 {
    font-size: 3em;
    text-align: center;
    margin-bottom: 20px; }
  main section.contact h2 {
    font-size: 2em;
    border-top: 1px solid #111;
    border-bottom: 1px solid #111;
    padding: 10px;
    display: block;
    max-width: 300px;
    text-align: center;
    margin: 0 auto 20px auto; }
  main section.contact .content {
    display: flex;
    justify-content: space-between; }
    main section.contact .content .item {
      flex-basis: 49%;
      padding: 0 10px;
      margin-bottom: 10px; }
      main section.contact .content .item form input, main section.contact .content .item form textarea {
        display: block;
        width: 100%;
        padding: 10px;
        margin-bottom: 5px;
        box-sizing: border-box;
        resize: none; }
      main section.contact .content .item form input[type="submit"] {
        color: white;
        background-color: #333030; }
    main section.contact .content #map {
      height: 350px; }

main .star {
  padding: 20px 0;
  width: 200px;
  margin: 0 auto; }
  main .star_line {
    width: 40%;
    border-bottom: 1px solid black;
    display: inline-block;
    vertical-align: middle; }
  main .star > span {
    color: black;
    padding: 0 5px;
    font-size: 1.4em; }

footer {
  background-color: #1f1f1f; }
  footer > div {
    display: flex;
    padding: 50px 0; }
    footer > div .item {
      flex: 1;
      text-align: center;
      color: white; }
      footer > div .item h1 {
        padding: 20px;
        letter-spacing: 4px; }
      footer > div .item p {
        font-family: sans-serif;
        font-size: .8em;
        line-height: 1.2em;
        padding: 5px; }
      footer > div .item a {
        padding: 0 10px; }
    footer > div > div:nth-child(2) {
      border-right: 1px dashed white;
      border-left: 1px dashed white; }

@media screen and (max-width: 600px) {
  header nav div.wrapper {
    flex-direction: column; }
    header nav div.wrapper ul {
      flex-direction: column;
      align-items: center; }
    header nav div.wrapper a.icon {
      visibility: visible; }
  header nav.responsive {
    animation-name: navbar;
    animation-duration: 1s;
    animation-fill-mode: both; }
  header div.ms-header {
    font-size: 0.8em; }
  main section.about {
    flex-direction: column; }
    main section.about img {
      padding-top: 40px; }
  main section.menu .menu-cont {
    flex-direction: column; }
  main section.contact .content {
    flex-direction: column; }
  footer > div {
    flex-direction: column; }
    footer > div div:nth-child(2) {
      border: none;
      order: 1; } }

@keyframes button {
  0% {
    font-size: 0.8em; }
  50% {
    font-size: 1.3em; }
  100% {
    font-size: 0.8em; } }

@-webkit-keyframes navbar {
  from {
    height: 4.5em; }
  to {
    height: 300px; } }

@keyframes wordSlider {
  0%,
  27% {
    transform: translateY(0%); }
  33%,
  60% {
    transform: translateY(-25%); }
  66%,
  93% {
    transform: translateY(-50%); }
  100% {
    transform: translateY(-75%); } }
